@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Poppins:ital,wght@0,200;1,100;1,200&display=swap');

/*home page design*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
}
section header{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

section header .logo{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px ;

}

section header .logo span{
    color: #e34074;
}

section header ul{
    list-style: none;
}

section header ul li{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
}

section header ul li a{
    color: black;
    text-decoration: none;
}

section header ul li a:hover{
    color: #e34074;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdc7d8;
    clip-path: circle(320px at left -230px);
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdc7d8;
    clip-path: circle(250px at right 800px);
    z-index: -1;
}

section header p{
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #f34d82 ;
    border-radius: 30px;
    transition: 0.3s;
}

section header p:hover{
    color: #fdfdfd;
    background: #e34074;
}

section .texts h1{
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 50px;
    color: rgba(105, 105, 105, 0.717);
}

section .texts h1 span{
    color: #ca6585;
}

section .texts p{
    
    width: 600px;
    position: absolute;
    top: 50%;
    left: 4%;
    line-height: 26px;
    text-align: justify;
}

/*body{
    width: 100%;
    height: 750px;
    background-image: url("background.jpg");
    background-size: 200px;
    background-repeat: repeat;
    
}*/

section .background_image img{
    width: 600px;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: 25px;
}

section .button{
    position: relative;
    top: 77%;
    left: 30px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .button .read{
    background: #e34074;
    color: white;
    transition: 0.3s;
}

section .button p{
    padding: 10px 25px;
    background: none;
    border: 2px solid #e34074;
    cursor: pointer;
    transition: 0.3s;
}

/*bags rental design*/

.collection .box{
    display: flex;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
}

.collection .box .card{
    width: 225px;
    height: auto;
    padding: 15px 10px;
    margin: 0 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
    border-radius: 3px;
    
}

.collection .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 5px;
}
.collection .box .card img{
    width: 200px;
    height: 250px;
}

.collection .box .card h3{
    text-align: center;
    font-style: normal;
    color: #e34074;
    font-family: Poppins;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 200;
}

.collection .box .card a{
    text-decoration: none;
}
.collection .box .card h3:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    transform: scale(1.1);
    color: white;
}

.collection .box .card p{
    text-align: center;
    font-style: normal;
    color: #e34074;
    font-family: Poppins;
    font-size: 15px;
    margin: 10px;
    font-weight: 200;
}

.collection .box .card a p{
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #f34d82 ;
    border-radius: 30px;
    transition: 0.3s;
}

.collection .box .card a p:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
    color: #fdfdfd;
    background: #e34074;
}

/*styling each division*/
.items h1{
    background-color: rgba(247, 215, 215, 0.393);
    padding: 60px;
    text-align: center;
    font-style: normal;
    color: #e34074;
    font-family: Poppins;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 200;
}

.items .values{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
    justify-content: space-between;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
    height: 900px;
}


.items .values .card{
    width: 275px;
    height: auto;
    padding: 15px 10px;
    margin: 5px 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    border-radius: 3px;
    
}

.items .values .card img{
    width: 250px;
    height: 250px;
}

.items .values .card:hover{
    box-shadow: 0px 5px 0px rgba(249, 247, 247, 0.03);
    transform: scale(1.1);
    color: #fdfdfd;
}

.items .values .card p{
    text-align: center;
    font-style: normal;
    color: #e34074;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}


/*About design*/
.us img{
    position: center;
}

.about{
    width: 100%;
    height: 750px;
}

.about h1{
    background-image: url(images//tshirt.png);
    background-position: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    font-family: poppins;
    font-size: 65px;
    font-style: normal;
    text-align: center;
    margin-top: 15%;
    padding: 150px;
}

.about h1:hover{
    
    box-shadow: 0px 5px 0px rgba(249, 247, 247, 0.03);
    transform: scale(1.2);
    color: #fdfdfd;
    padding: 150px
}

.operations{
    background-color: rgb(252, 236, 236);
    width: 100%;
    height: 3500px;
}

.operations h2{
    text-align: center;
    font-family: poppins;
    font-size: 35px;
    margin: 15px;
    padding: 15px;
    color: #e73a71;

}

.operations .each .detail{
    display: flex;
}

.operations .each .detail h3{
    font-size: 25px;
    font-family: poppins;
    text-align: justify;
    color: #ea1d5e;
    font-weight: bold;
}

.operations .each .detail p{
    font-size: 20px;
    font-family: poppins;
    text-align: center;
    color: #e34074;
}

.operations .each .detail img{
    float: right;
    width: 500px;
    height: 500px;
    text-align-last: right;
}
/*bottom designing*/

.footer{
    background-color: rgb(82, 77, 77);
    padding: 50px;
}

.footer .main{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 50;
    position: relative;
}

.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e34074;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li{
    margin-bottom: 15px;
}

.footer_col ul li a{
    text-decoration: none;
    color: rgb(172, 170, 170);
    cursor: pointer;
}

.footer_col ul li a:hover{
    box-shadow: 0px 0px 0px rgba(249, 247, 247, 0.03);
    transform: scale(1.1);
    color: #fdfdfd;
}

.footer_col .socialmedia img{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.footer_col .socialmedia img:hover{
    box-shadow: 0px 0px 0px rgba(249, 247, 247, 0.03);
    transform: scale(1.1);
    color: #fdfdfd;
}
